Compiled from "Constraints.java"
class com.google.common.collect.Constraints$ConstrainedSortedSet<E> extends com.google.common.collect.ForwardingSortedSet<E> {
  final java.util.SortedSet<E> delegate;

  final com.google.common.collect.Constraint<? super E> constraint;

  com.google.common.collect.Constraints$ConstrainedSortedSet(java.util.SortedSet<E>, com.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method com/google/common/collect/ForwardingSortedSet."<init>":()V
       4: aload_0
       5: aload_1
       6: invokestatic  #2                  // Method com/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
       9: checkcast     #3                  // class java/util/SortedSet
      12: putfield      #4                  // Field delegate:Ljava/util/SortedSet;
      15: aload_0
      16: aload_2
      17: invokestatic  #2                  // Method com/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
      20: checkcast     #5                  // class com/google/common/collect/Constraint
      23: putfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
      26: return

  protected java.util.SortedSet<E> delegate();
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
       4: areturn

  public java.util.SortedSet<E> headSet(E);
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
       4: aload_1
       5: invokeinterface #7,  2            // InterfaceMethod java/util/SortedSet.headSet:(Ljava/lang/Object;)Ljava/util/SortedSet;
      10: aload_0
      11: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
      14: invokestatic  #8                  // Method com/google/common/collect/Constraints.constrainedSortedSet:(Ljava/util/SortedSet;Lcom/google/common/collect/Constraint;)Ljava/util/SortedSet;
      17: areturn

  public java.util.SortedSet<E> subSet(E, E);
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
       4: aload_1
       5: aload_2
       6: invokeinterface #9,  3            // InterfaceMethod java/util/SortedSet.subSet:(Ljava/lang/Object;Ljava/lang/Object;)Ljava/util/SortedSet;
      11: aload_0
      12: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
      15: invokestatic  #8                  // Method com/google/common/collect/Constraints.constrainedSortedSet:(Ljava/util/SortedSet;Lcom/google/common/collect/Constraint;)Ljava/util/SortedSet;
      18: areturn

  public java.util.SortedSet<E> tailSet(E);
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
       4: aload_1
       5: invokeinterface #10,  2           // InterfaceMethod java/util/SortedSet.tailSet:(Ljava/lang/Object;)Ljava/util/SortedSet;
      10: aload_0
      11: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
      14: invokestatic  #8                  // Method com/google/common/collect/Constraints.constrainedSortedSet:(Ljava/util/SortedSet;Lcom/google/common/collect/Constraint;)Ljava/util/SortedSet;
      17: areturn

  public boolean add(E);
    Code:
       0: aload_0
       1: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #11,  2           // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
      15: aload_1
      16: invokeinterface #12,  2           // InterfaceMethod java/util/SortedSet.add:(Ljava/lang/Object;)Z
      21: ireturn

  public boolean addAll(java.util.Collection<? extends E>);
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Ljava/util/SortedSet;
       4: aload_1
       5: aload_0
       6: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       9: invokestatic  #13                 // Method com/google/common/collect/Constraints.access$000:(Ljava/util/Collection;Lcom/google/common/collect/Constraint;)Ljava/util/Collection;
      12: invokeinterface #14,  2           // InterfaceMethod java/util/SortedSet.addAll:(Ljava/util/Collection;)Z
      17: ireturn

  protected java.util.Set delegate();
    Code:
       0: aload_0
       1: invokevirtual #15                 // Method delegate:()Ljava/util/SortedSet;
       4: areturn

  protected java.util.Collection delegate();
    Code:
       0: aload_0
       1: invokevirtual #15                 // Method delegate:()Ljava/util/SortedSet;
       4: areturn

  protected java.lang.Object delegate();
    Code:
       0: aload_0
       1: invokevirtual #15                 // Method delegate:()Ljava/util/SortedSet;
       4: areturn
}
