Compiled from "Constraints.java"
class com.google.common.collect.Constraints$ConstrainedMultiset<E> extends com.google.common.collect.ForwardingMultiset<E> {
  private com.google.common.collect.Multiset<E> delegate;

  private final com.google.common.collect.Constraint<? super E> constraint;

  public com.google.common.collect.Constraints$ConstrainedMultiset(com.google.common.collect.Multiset<E>, com.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method com/google/common/collect/ForwardingMultiset."<init>":()V
       4: aload_0
       5: aload_1
       6: invokestatic  #2                  // Method com/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
       9: checkcast     #3                  // class com/google/common/collect/Multiset
      12: putfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
      15: aload_0
      16: aload_2
      17: invokestatic  #2                  // Method com/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
      20: checkcast     #5                  // class com/google/common/collect/Constraint
      23: putfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
      26: return

  protected com.google.common.collect.Multiset<E> delegate();
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
       4: areturn

  public boolean add(E);
    Code:
       0: aload_0
       1: aload_1
       2: invokevirtual #7                  // Method standardAdd:(Ljava/lang/Object;)Z
       5: ireturn

  public boolean addAll(java.util.Collection<? extends E>);
    Code:
       0: aload_0
       1: getfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
       4: aload_1
       5: aload_0
       6: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       9: invokestatic  #8                  // Method com/google/common/collect/Constraints.access$000:(Ljava/util/Collection;Lcom/google/common/collect/Constraint;)Ljava/util/Collection;
      12: invokeinterface #9,  2            // InterfaceMethod com/google/common/collect/Multiset.addAll:(Ljava/util/Collection;)Z
      17: ireturn

  public int add(E, int);
    Code:
       0: aload_0
       1: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #10,  2           // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
      15: aload_1
      16: iload_2
      17: invokeinterface #11,  3           // InterfaceMethod com/google/common/collect/Multiset.add:(Ljava/lang/Object;I)I
      22: ireturn

  public int setCount(E, int);
    Code:
       0: aload_0
       1: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #10,  2           // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
      15: aload_1
      16: iload_2
      17: invokeinterface #12,  3           // InterfaceMethod com/google/common/collect/Multiset.setCount:(Ljava/lang/Object;I)I
      22: ireturn

  public boolean setCount(E, int, int);
    Code:
       0: aload_0
       1: getfield      #6                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #10,  2           // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #4                  // Field delegate:Lcom/google/common/collect/Multiset;
      15: aload_1
      16: iload_2
      17: iload_3
      18: invokeinterface #13,  4           // InterfaceMethod com/google/common/collect/Multiset.setCount:(Ljava/lang/Object;II)Z
      23: ireturn

  protected java.util.Collection delegate();
    Code:
       0: aload_0
       1: invokevirtual #14                 // Method delegate:()Lcom/google/common/collect/Multiset;
       4: areturn

  protected java.lang.Object delegate();
    Code:
       0: aload_0
       1: invokevirtual #14                 // Method delegate:()Lcom/google/common/collect/Multiset;
       4: areturn
}
