<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.drools">

<resources>
    <artifact name="org.kie:kie-api:6.4.0.Final"/>
    <artifact name="org.kie:kie-ci:6.4.0.Final"/>
    <artifact name="org.kie:kie-internal:6.4.0.Final"/>
    <artifact name="org.drools:drools-core:6.4.0.Final"/>
    <artifact name="org.drools:drools-compiler:6.4.0.Final"/>
    <artifact name="org.eclipse.aether:aether-api:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-connector-basic:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-spi:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-impl:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-transport-file:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-transport-http:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-transport-wagon:1.0.0.v20140518"/>
    <artifact name="org.eclipse.aether:aether-util:1.0.0.v20140518"/>
    <artifact name="org.apache.ant:ant:1.8.3"/>
    <artifact name="org.apache.ant:ant-launcher:1.8.3"/>
    <artifact name="org.antlr:antlr-runtime:3.5"/>
    <artifact name="aopalliance:aopalliance:1.0"/>
    <artifact name="org.apache.maven:maven-aether-provider:3.2.5"/>
    <artifact name="org.apache.maven:maven-artifact:3.2.5"/>
    <artifact name="org.apache.maven:maven-compat:3.2.5"/>
    <artifact name="org.apache.maven:maven-core:3.2.5"/>
    <artifact name="org.apache.maven:maven-model:3.2.5"/>
    <artifact name="org.apache.maven:maven-model-builder:3.2.5"/>
    <artifact name="org.apache.maven:maven-plugin-api:3.2.5"/>
    <artifact name="org.apache.maven:maven-repository-metadata:3.2.5"/>
    <artifact name="org.apache.maven:maven-settings:3.2.5"/>
    <artifact name="org.apache.maven:maven-settings-builder:3.2.5"/>
    <artifact name="org.mvel:mvel2:2.2.8.Final"/>
    <artifact name="org.eclipse.sisu:org.eclipse.sisu.inject:0.3.0.M1"/>
    <artifact name="org.eclipse.sisu:org.eclipse.sisu.plexus:0.3.0.M1"/>
    <artifact name="org.sonatype.plexus:plexus-cipher:1.7"/>
    <artifact name="org.codehaus.plexus:plexus-classworlds:2.5.2"/>
    <artifact name="org.codehaus.plexus:plexus-component-annotations:1.5.5"/>
    <artifact name="org.codehaus.plexus:plexus-interpolation:1.21"/>
    <artifact name="org.sonatype.plexus:plexus-sec-dispatcher:1.3"/>
    <artifact name="org.codehaus.plexus:plexus-utils:3.0.20"/>
    <artifact name="org.apache.maven.wagon:wagon-http:2.6"/>
    <artifact name="org.apache.maven.wagon:wagon-http-shared:2.6"/>
    <artifact name="org.apache.maven.wagon:wagon-provider-api:2.6"/>
    <artifact name="com.thoughtworks.xstream:xstream:1.4.7"/>
    <artifact name="com.google.guava:guava:13.0.1"/>
    <artifact name="org.eclipse.jdt.core.compiler:ecj:4.4.2"/>
    <artifact name="org.apache.httpcomponents:httpclient:4.5"/>
    <artifact name="org.apache.httpcomponents:httpcore:4.4.1"/>
    <artifact name="com.lowagie:itext:2.1.2"/>
    <artifact name="org.sonatype.sisu:sisu-guice:3.2.3:no_aop"/>
    <artifact name="com.google.inject.extensions:guice-servlet:3.0"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.inject.api"/>
    <module name="javax.enterprise.api"/>
    <module name="org.slf4j"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.keycloak.keycloak-core"/>
    <module name="org.keycloak.keycloak-common"/>
    <module name="org.keycloak.keycloak-server-spi"/>
  </dependencies>
</module>
