Compiled from "V1ResourceRequirementsFluent.java"
public interface io.kubernetes.client.openapi.models.V1ResourceRequirementsFluent<A extends io.kubernetes.client.openapi.models.V1ResourceRequirementsFluent<A>> extends io.kubernetes.client.fluent.Fluent<A> {
  public abstract A addToLimits(java.lang.String, io.kubernetes.client.custom.Quantity);

  public abstract A addToLimits(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract A removeFromLimits(java.lang.String);

  public abstract A removeFromLimits(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity> getLimits();

  public abstract A withLimits(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract java.lang.Boolean hasLimits();

  public abstract A addToRequests(java.lang.String, io.kubernetes.client.custom.Quantity);

  public abstract A addToRequests(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract A removeFromRequests(java.lang.String);

  public abstract A removeFromRequests(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity> getRequests();

  public abstract A withRequests(java.util.Map<java.lang.String, io.kubernetes.client.custom.Quantity>);

  public abstract java.lang.Boolean hasRequests();
}
