Compiled from "ConstraintsBase.java"
public abstract class javafx.scene.layout.ConstraintsBase {
  public static final double CONSTRAIN_TO_PREF;

  private com.sun.javafx.util.WeakReferenceQueue nodes;

  javafx.scene.layout.ConstraintsBase();
    Code:
       0: aload_0
       1: invokespecial #2                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: new           #3                  // class com/sun/javafx/util/WeakReferenceQueue
       8: dup
       9: invokespecial #4                  // Method com/sun/javafx/util/WeakReferenceQueue."<init>":()V
      12: putfield      #5                  // Field nodes:Lcom/sun/javafx/util/WeakReferenceQueue;
      15: return

  void add(javafx.scene.Parent);
    Code:
       0: aload_0
       1: getfield      #5                  // Field nodes:Lcom/sun/javafx/util/WeakReferenceQueue;
       4: aload_1
       5: invokevirtual #6                  // Method com/sun/javafx/util/WeakReferenceQueue.add:(Ljava/lang/Object;)V
       8: return

  void remove(javafx.scene.Parent);
    Code:
       0: aload_0
       1: getfield      #5                  // Field nodes:Lcom/sun/javafx/util/WeakReferenceQueue;
       4: aload_1
       5: invokevirtual #7                  // Method com/sun/javafx/util/WeakReferenceQueue.remove:(Ljava/lang/Object;)V
       8: return

  protected void requestLayout();
    Code:
       0: aload_0
       1: getfield      #5                  // Field nodes:Lcom/sun/javafx/util/WeakReferenceQueue;
       4: invokevirtual #8                  // Method com/sun/javafx/util/WeakReferenceQueue.iterator:()Ljava/util/Iterator;
       7: astore_1
       8: aload_1
       9: invokeinterface #9,  1            // InterfaceMethod java/util/Iterator.hasNext:()Z
      14: ifeq          32
      17: aload_1
      18: invokeinterface #10,  1           // InterfaceMethod java/util/Iterator.next:()Ljava/lang/Object;
      23: checkcast     #11                 // class javafx/scene/Parent
      26: invokevirtual #12                 // Method javafx/scene/Parent.requestLayout:()V
      29: goto          8
      32: return
}
