<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="com.sun.xml.bind">
<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="org.glassfish.jaxb:jaxb-core:2.2.11.jbossorg-1"/>
    <artifact name="org.glassfish.jaxb:jaxb-runtime:2.2.11.jbossorg-1"/>
    <artifact name="org.glassfish.jaxb:jaxb-xjc:2.2.11.jbossorg-1"/>
    <artifact name="org.glassfish.jaxb:jaxb-jxc:2.2.11.jbossorg-1"/>
    <artifact name="org.glassfish.jaxb:codemodel:2.2.11.jbossorg-1"/>
    <artifact name="com.sun.xml.bind.external:rngom:2.2.11.jbossorg-1"/>
  </resources>
  <dependencies>
    <module export="true" name="com.github.relaxng"/>
    <module export="true" name="com.sun.istack"/>
    <module export="true" name="com.sun.xml.txw2"/>
    <module export="true" name="com.sun.xsom"/>
    <module name="javax.api"/>
    <module name="javax.xml.bind.api"/>
    <module name="javax.xml.stream.api"/>
  </dependencies>
</module>
