Compiled from "Constraints.java"
class com.google.common.collect.Constraints$ConstrainedRandomAccessList<E> extends com.google.common.collect.Constraints$ConstrainedList<E> implements java.util.RandomAccess {
  com.google.common.collect.Constraints$ConstrainedRandomAccessList(java.util.List<E>, com.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: aload_1
       2: aload_2
       3: invokespecial #1                  // Method com/google/common/collect/Constraints$ConstrainedList."<init>":(Ljava/util/List;Lcom/google/common/collect/Constraint;)V
       6: return
}
