Compiled from "Constraints.java"
class com.google.common.collect.Constraints$ConstrainedListIterator<E> extends com.google.common.collect.ForwardingListIterator<E> {
  private final java.util.ListIterator<E> delegate;

  private final com.google.common.collect.Constraint<? super E> constraint;

  public com.google.common.collect.Constraints$ConstrainedListIterator(java.util.ListIterator<E>, com.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method com/google/common/collect/ForwardingListIterator."<init>":()V
       4: aload_0
       5: aload_1
       6: putfield      #2                  // Field delegate:Ljava/util/ListIterator;
       9: aload_0
      10: aload_2
      11: putfield      #3                  // Field constraint:Lcom/google/common/collect/Constraint;
      14: return

  protected java.util.ListIterator<E> delegate();
    Code:
       0: aload_0
       1: getfield      #2                  // Field delegate:Ljava/util/ListIterator;
       4: areturn

  public void add(E);
    Code:
       0: aload_0
       1: getfield      #3                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #4,  2            // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #2                  // Field delegate:Ljava/util/ListIterator;
      15: aload_1
      16: invokeinterface #5,  2            // InterfaceMethod java/util/ListIterator.add:(Ljava/lang/Object;)V
      21: return

  public void set(E);
    Code:
       0: aload_0
       1: getfield      #3                  // Field constraint:Lcom/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #4,  2            // InterfaceMethod com/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #2                  // Field delegate:Ljava/util/ListIterator;
      15: aload_1
      16: invokeinterface #6,  2            // InterfaceMethod java/util/ListIterator.set:(Ljava/lang/Object;)V
      21: return

  protected java.util.Iterator delegate();
    Code:
       0: aload_0
       1: invokevirtual #7                  // Method delegate:()Ljava/util/ListIterator;
       4: areturn

  protected java.lang.Object delegate();
    Code:
       0: aload_0
       1: invokevirtual #7                  // Method delegate:()Ljava/util/ListIterator;
       4: areturn
}
