<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.clustering.web.infinispan">
<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <exports>
    <exclude path="org/wildfly/clustering/web/infinispan/logging"/>
  </exports>
  <resources>
    <artifact name="org.wildfly:wildfly-clustering-web-infinispan:10.0.0.Final"/>
  </resources>
  <dependencies>
    <module name="javax.servlet.api"/>
    <module name="javax.transaction.api"/>
    <module name="net.jcip"/>
    <module name="org.infinispan"/>
    <module name="org.infinispan.commons"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.marshalling"/>
    <module name="org.jboss.metadata.common"/>
    <module name="org.jboss.metadata.web"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.msc"/>
    <module name="org.jboss.threads"/>
    <module name="org.jgroups"/>
    <module name="org.wildfly.clustering.api"/>
    <module name="org.wildfly.clustering.ee.infinispan"/>
    <module name="org.wildfly.clustering.ee.spi"/>
    <module name="org.wildfly.clustering.infinispan.spi"/>
    <module name="org.wildfly.clustering.marshalling.api"/>
    <module name="org.wildfly.clustering.marshalling.jboss" services="import"/>
    <module name="org.wildfly.clustering.server" services="import"/>
    <module name="org.wildfly.clustering.service"/>
    <module name="org.wildfly.clustering.spi"/>
    <module name="org.wildfly.clustering.web.api"/>
    <module name="org.wildfly.clustering.web.spi"/>
    <module name="org.wildfly.security.elytron"/>
  </dependencies>
</module>
