<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.jaxen">

<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <dependencies>
    <module name="nu.xom"/>
    <module name="org.dom4j"/>
    <module name="org.jdom"/>
    <module name="javax.api"/>
  </dependencies>
  <resources>
    <artifact name="jaxen:jaxen:1.1.6"/>
  </resources>
</module>
