<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.keycloak.server" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:keycloak-server:2016.12.0">
      <filter>
        <include-set>
          <path name="org/wildfly/swarm/keycloak/server"/>
          <path name="META-INF"/>
        </include-set>
        <exclude-set>
          <path name="org/wildfly/swarm/keycloak/server/runtime"/>
        </exclude-set>
      </filter>
    </artifact>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="javax.enterprise.api"/>
    <module name="org.jboss.weld.api" slot="3"/>
    <module name="org.jboss.weld.spi" slot="3"/>
    <module name="org.jboss.weld.core" slot="3"/>
    <module name="org.wildfly.swarm.bootstrap" optional="true" slot="main"/>
    <module name="org.wildfly.swarm.infinispan" slot="main"/>
    <module name="org.wildfly.swarm.datasources" slot="main"/>
    <module name="io.undertow.servlet" slot="main"/>
    <module name="io.undertow.core" slot="main"/>
    <module name="org.keycloak.keycloak-common" slot="main"/>
    <module name="org.keycloak.keycloak-core" slot="main"/>
    <module name="org.keycloak.keycloak-js-adapter" slot="main"/>
    <module name="org.keycloak.keycloak-kerberos-federation" slot="main"/>
    <module name="org.keycloak.keycloak-ldap-federation" slot="main"/>
    <module name="org.keycloak.keycloak-model-infinispan" slot="main"/>
    <module name="org.keycloak.keycloak-model-jpa" slot="main"/>
    <module name="org.keycloak.keycloak-model-mongo" slot="main"/>
    <module name="org.keycloak.keycloak-saml-core" slot="main"/>
    <module name="org.keycloak.keycloak-server-spi" slot="main"/>
    <module name="org.keycloak.keycloak-server-subsystem" slot="main"/>
    <module name="org.keycloak.keycloak-server-subsystem.dependencies" slot="main"/>
    <module name="org.keycloak.keycloak-services" slot="main"/>
    <module name="org.keycloak.keycloak-themes" slot="main"/>
    <module name="org.keycloak.keycloak-wildfly-adduser" slot="main"/>
    <module name="org.keycloak.keycloak-wildfly-extensions" slot="main"/>
    <module name="org.keycloak.keycloak-wildfly-server-subsystem" slot="main"/>
    <module name="org.jboss.resteasy.resteasy-jackson-provider" slot="main"/>
    <module name="com.h2database.h2" slot="main"/>
  </dependencies>
</module>
