Compiled from "PluginRequirementsCheckResult.java"
public class org.sonarsource.sonarlint.core.plugin.commons.loading.PluginRequirementsCheckResult {
  private final org.sonarsource.sonarlint.core.plugin.commons.loading.PluginInfo plugin;

  private final org.sonarsource.sonarlint.core.plugin.commons.SkipReason skipReason;

  public org.sonarsource.sonarlint.core.plugin.commons.loading.PluginRequirementsCheckResult(org.sonarsource.sonarlint.core.plugin.commons.loading.PluginInfo, org.sonarsource.sonarlint.core.plugin.commons.SkipReason);
    Code:
       0: aload_0
       1: invokespecial #16                 // Method java/lang/Object."<init>":()V
       4: aload_0
       5: aload_1
       6: putfield      #18                 // Field plugin:Lorg/sonarsource/sonarlint/core/plugin/commons/loading/PluginInfo;
       9: aload_0
      10: aload_2
      11: putfield      #20                 // Field skipReason:Lorg/sonarsource/sonarlint/core/plugin/commons/SkipReason;
      14: return

  public org.sonarsource.sonarlint.core.plugin.commons.loading.PluginInfo getPlugin();
    Code:
       0: aload_0
       1: getfield      #18                 // Field plugin:Lorg/sonarsource/sonarlint/core/plugin/commons/loading/PluginInfo;
       4: areturn

  public java.util.Optional<org.sonarsource.sonarlint.core.plugin.commons.SkipReason> getSkipReason();
    Code:
       0: aload_0
       1: getfield      #20                 // Field skipReason:Lorg/sonarsource/sonarlint/core/plugin/commons/SkipReason;
       4: invokestatic  #33                 // Method java/util/Optional.ofNullable:(Ljava/lang/Object;)Ljava/util/Optional;
       7: areturn

  public boolean isSkipped();
    Code:
       0: aload_0
       1: getfield      #20                 // Field skipReason:Lorg/sonarsource/sonarlint/core/plugin/commons/SkipReason;
       4: ifnull        11
       7: iconst_1
       8: goto          12
      11: iconst_0
      12: ireturn
}
