<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.activemq.artemis">
<resources>
    <resource-root path="lib"/>
    <artifact name="org.apache.activemq:artemis-core-client:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-selector:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-server:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-cli:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-commons:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-dto:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-hqclient-protocol:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-journal:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-jms-client:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-jms-server:1.1.0.wildfly-011"/>
    <artifact name="org.apache.activemq:artemis-native:1.1.0.wildfly-011"/>
  </resources>
  <dependencies>
    <!-- required for ARTEMIS-298 --><module name="com.google.guava"/>
    <module name="javax.api"/>
    <module name="javax.jms.api"/>
    <module name="org.apache.commons.beanutils"/>
    <module name="org.jboss.jts"/>
    <module name="org.jboss.logging"/>
    <module name="io.netty"/>
    <module name="org.jgroups"/>
    <module name="javax.resource.api"/>
    <!-- WFLY-5213 Optional dependency to use the org.apache.activemq.artemis as a naming's external-context module -->
    <module name="org.jboss.invocation" optional="true"/>
    <module name="org.jboss.jboss-transaction-spi"/>
    <!--this reverse dependency is here so integration classes in the AS code base can be instantiated by Artemis-->
    <module name="org.wildfly.extension.messaging-activemq" services="import"/>
    <module name="org.jboss.as.security"/>
    <module name="org.picketbox"/>
    <!-- this optional dependency is required to be able to use this module from a jms-bridge to connect to a remote
             WildFly server [AS7-6549] -->
    <module name="org.jboss.remote-naming" optional="true"/>
    <!-- https://issues.jboss.org/browse/AS7-4936  this is to avoid an issue on IBM JDK -->
    <module name="sun.jdk"/>
    <!-- supported protocols (in addition to the CORE protocol) -->
    <module name="org.apache.activemq.artemis.protocol.amqp" optional="true" services="import"/>
    <module name="org.apache.activemq.artemis.protocol.hornetq" optional="true" services="import"/>
    <module name="org.apache.activemq.artemis.protocol.stomp" optional="true" services="import"/>
  </dependencies>
</module>
