Compiled from "RequirementsForOutcomeTypes.java"
public class net.thucydides.core.requirements.RequirementsForOutcomeTypes implements net.thucydides.core.requirements.Requirements {
  private final net.thucydides.core.requirements.RequirementsService requirementsService;

  private final net.thucydides.core.requirements.reports.RequirementsOutcomeFactory requirmentsOutcomeFactory;

  public net.thucydides.core.requirements.RequirementsForOutcomeTypes();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
       8: ldc           #3                  // class net/thucydides/core/requirements/RequirementsService
      10: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      15: checkcast     #3                  // class net/thucydides/core/requirements/RequirementsService
      18: putfield      #5                  // Field requirementsService:Lnet/thucydides/core/requirements/RequirementsService;
      21: aload_0
      22: new           #6                  // class net/thucydides/core/requirements/reports/MultipleSourceRequirmentsOutcomeFactory
      25: dup
      26: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
      29: ldc           #7                  // class net/thucydides/core/requirements/RequirementsProviderService
      31: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      36: checkcast     #7                  // class net/thucydides/core/requirements/RequirementsProviderService
      39: invokeinterface #8,  1            // InterfaceMethod net/thucydides/core/requirements/RequirementsProviderService.getRequirementsProviders:()Ljava/util/List;
      44: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
      47: ldc           #9                  // class net/thucydides/core/issues/IssueTracking
      49: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      54: checkcast     #9                  // class net/thucydides/core/issues/IssueTracking
      57: new           #10                 // class net/thucydides/core/reports/html/ReportNameProvider
      60: dup
      61: getstatic     #11                 // Field net/thucydides/core/reports/html/ReportNameProvider.NO_CONTEXT:Ljava/util/Optional;
      64: getstatic     #12                 // Field net/thucydides/core/model/ReportType.HTML:Lnet/thucydides/core/model/ReportType;
      67: aload_0
      68: invokevirtual #13                 // Method getRequirementsService:()Lnet/thucydides/core/requirements/RequirementsService;
      71: invokespecial #14                 // Method net/thucydides/core/reports/html/ReportNameProvider."<init>":(Ljava/util/Optional;Lnet/thucydides/core/model/ReportType;Lnet/thucydides/core/requirements/RequirementsService;)V
      74: invokespecial #15                 // Method net/thucydides/core/requirements/reports/MultipleSourceRequirmentsOutcomeFactory."<init>":(Ljava/util/List;Lnet/thucydides/core/issues/IssueTracking;Lnet/thucydides/core/reports/html/ReportNameProvider;)V
      77: putfield      #16                 // Field requirmentsOutcomeFactory:Lnet/thucydides/core/requirements/reports/RequirementsOutcomeFactory;
      80: return

  public net.thucydides.core.requirements.RequirementsForOutcomeTypes(net.thucydides.core.reports.html.ReportNameProvider);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
       8: ldc           #3                  // class net/thucydides/core/requirements/RequirementsService
      10: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      15: checkcast     #3                  // class net/thucydides/core/requirements/RequirementsService
      18: putfield      #5                  // Field requirementsService:Lnet/thucydides/core/requirements/RequirementsService;
      21: aload_0
      22: new           #6                  // class net/thucydides/core/requirements/reports/MultipleSourceRequirmentsOutcomeFactory
      25: dup
      26: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
      29: ldc           #7                  // class net/thucydides/core/requirements/RequirementsProviderService
      31: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      36: checkcast     #7                  // class net/thucydides/core/requirements/RequirementsProviderService
      39: invokeinterface #8,  1            // InterfaceMethod net/thucydides/core/requirements/RequirementsProviderService.getRequirementsProviders:()Ljava/util/List;
      44: invokestatic  #2                  // Method net/thucydides/core/guice/Injectors.getInjector:()Lcom/google/inject/Injector;
      47: ldc           #9                  // class net/thucydides/core/issues/IssueTracking
      49: invokeinterface #4,  2            // InterfaceMethod com/google/inject/Injector.getInstance:(Ljava/lang/Class;)Ljava/lang/Object;
      54: checkcast     #9                  // class net/thucydides/core/issues/IssueTracking
      57: aload_1
      58: invokespecial #15                 // Method net/thucydides/core/requirements/reports/MultipleSourceRequirmentsOutcomeFactory."<init>":(Ljava/util/List;Lnet/thucydides/core/issues/IssueTracking;Lnet/thucydides/core/reports/html/ReportNameProvider;)V
      61: putfield      #16                 // Field requirmentsOutcomeFactory:Lnet/thucydides/core/requirements/reports/RequirementsOutcomeFactory;
      64: return

  public net.thucydides.core.requirements.RequirementsService getRequirementsService();
    Code:
       0: aload_0
       1: getfield      #5                  // Field requirementsService:Lnet/thucydides/core/requirements/RequirementsService;
       4: areturn

  public net.thucydides.core.requirements.reports.RequirementsOutcomeFactory getRequirementsOutcomeFactory();
    Code:
       0: aload_0
       1: getfield      #16                 // Field requirmentsOutcomeFactory:Lnet/thucydides/core/requirements/reports/RequirementsOutcomeFactory;
       4: areturn

  public java.util.List<java.lang.String> getTypes();
    Code:
       0: aload_0
       1: getfield      #5                  // Field requirementsService:Lnet/thucydides/core/requirements/RequirementsService;
       4: invokeinterface #17,  1           // InterfaceMethod net/thucydides/core/requirements/RequirementsService.getRequirementTypes:()Ljava/util/List;
       9: areturn
}
