<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.camel.jpa" slot="runtime">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="org.wildfly.swarm:camel-jpa:2018.4.1">
      <filter>
        <exclude-set/>
      </filter>
    </artifact>
  </resources>
  <dependencies>
    <module export="true" name="org.wildfly.swarm.camel.jpa" slot="main"/>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
    <module name="org.wildfly.swarm.spi" slot="runtime"/>
    <module name="javax.enterprise.api"/>
    <module name="org.jboss.weld.se"/>
    <module name="org.apache.camel.component.jpa" slot="main"/>
    <module name="org.wildfly.swarm.camel.core" slot="main"/>
  </dependencies>
</module>
