<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.fusesource.jansi">
<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="org.fusesource.jansi:jansi:1.16"/>
  </resources>
  <dependencies>
    </dependencies>
</module>
