Compiled from "PlexusRequirements.java"
final class org.sonatype.guice.plexus.binders.PlexusRequirements$RequirementListProvider<T> extends org.sonatype.guice.plexus.binders.PlexusRequirements$AbstractRequirementProvider<java.util.List<T>, T> {
  org.sonatype.guice.plexus.binders.PlexusRequirements$RequirementListProvider(javax.inject.Provider<org.sonatype.guice.plexus.config.PlexusBeanLocator>, com.google.inject.TypeLiteral<T>, java.lang.String[]);
    Code:
       0: aload_0
       1: aload_1
       2: aload_2
       3: aload_3
       4: invokespecial #1                  // Method org/sonatype/guice/plexus/binders/PlexusRequirements$AbstractRequirementProvider."<init>":(Ljavax/inject/Provider;Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)V
       7: return

  public java.util.List<T> get();
    Code:
       0: new           #2                  // class org/sonatype/guice/bean/locators/EntryListAdapter
       3: dup
       4: aload_0
       5: invokevirtual #3                  // Method locate:()Ljava/lang/Iterable;
       8: invokespecial #4                  // Method org/sonatype/guice/bean/locators/EntryListAdapter."<init>":(Ljava/lang/Iterable;)V
      11: areturn

  public java.lang.Object get();
    Code:
       0: aload_0
       1: invokevirtual #5                  // Method get:()Ljava/util/List;
       4: areturn
}
