Compiled from "PlexusRequirements.java"
final class org.sonatype.guice.plexus.binders.PlexusRequirements {
  private final javax.inject.Provider<org.sonatype.guice.plexus.config.PlexusBeanLocator> locatorProvider;

  org.sonatype.guice.plexus.binders.PlexusRequirements(com.google.inject.spi.TypeEncounter<?>);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: aload_1
       6: ldc_w         #2                  // class org/sonatype/guice/plexus/config/PlexusBeanLocator
       9: invokeinterface #3,  2            // InterfaceMethod com/google/inject/spi/TypeEncounter.getProvider:(Ljava/lang/Class;)Lcom/google/inject/Provider;
      14: putfield      #4                  // Field locatorProvider:Ljavax/inject/Provider;
      17: return

  public <T> javax.inject.Provider<T> lookup(org.codehaus.plexus.component.annotations.Requirement, org.sonatype.guice.bean.reflect.BeanProperty<T>);
    Code:
       0: aload_2
       1: invokeinterface #5,  1            // InterfaceMethod org/sonatype/guice/bean/reflect/BeanProperty.getType:()Lcom/google/inject/TypeLiteral;
       6: astore_3
       7: aload_1
       8: aload_3
       9: invokestatic  #6                  // Method org/sonatype/guice/plexus/config/Roles.roleType:(Lorg/codehaus/plexus/component/annotations/Requirement;Lcom/google/inject/TypeLiteral;)Lcom/google/inject/TypeLiteral;
      12: astore        4
      14: aload_3
      15: invokevirtual #7                  // Method com/google/inject/TypeLiteral.getRawType:()Ljava/lang/Class;
      18: astore        5
      20: aload_1
      21: invokestatic  #8                  // Method org/sonatype/guice/plexus/config/Hints.canonicalHints:(Lorg/codehaus/plexus/component/annotations/Requirement;)[Ljava/lang/String;
      24: astore        6
      26: ldc_w         #9                  // class java/util/Map
      29: aload         5
      31: if_acmpne     50
      34: new           #10                 // class org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementMapProvider
      37: dup
      38: aload_0
      39: getfield      #4                  // Field locatorProvider:Ljavax/inject/Provider;
      42: aload         4
      44: aload         6
      46: invokespecial #11                 // Method org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementMapProvider."<init>":(Ljavax/inject/Provider;Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)V
      49: areturn
      50: ldc_w         #12                 // class java/util/List
      53: aload         5
      55: if_acmpne     74
      58: new           #13                 // class org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementListProvider
      61: dup
      62: aload_0
      63: getfield      #4                  // Field locatorProvider:Ljavax/inject/Provider;
      66: aload         4
      68: aload         6
      70: invokespecial #14                 // Method org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementListProvider."<init>":(Ljavax/inject/Provider;Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)V
      73: areturn
      74: new           #15                 // class org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementProvider
      77: dup
      78: aload_0
      79: getfield      #4                  // Field locatorProvider:Ljavax/inject/Provider;
      82: aload         4
      84: aload         6
      86: invokespecial #16                 // Method org/sonatype/guice/plexus/binders/PlexusRequirements$RequirementProvider."<init>":(Ljavax/inject/Provider;Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)V
      89: areturn
      90: astore_3
      91: new           #18                 // class org/sonatype/guice/plexus/binders/PlexusRequirements$1
      94: dup
      95: aload_0
      96: aload_2
      97: aload_3
      98: invokespecial #19                 // Method org/sonatype/guice/plexus/binders/PlexusRequirements$1."<init>":(Lorg/sonatype/guice/plexus/binders/PlexusRequirements;Lorg/sonatype/guice/bean/reflect/BeanProperty;Ljava/lang/RuntimeException;)V
     101: areturn
    Exception table:
       from    to  target type
           0    49    90   Class java/lang/RuntimeException
          50    73    90   Class java/lang/RuntimeException
          74    89    90   Class java/lang/RuntimeException
}
