Compiled from "PlexusRequirements.java"
final class org.sonatype.guice.plexus.binders.PlexusRequirements$RequirementProvider<T> extends org.sonatype.guice.plexus.binders.PlexusRequirements$AbstractRequirementProvider<T, T> {
  org.sonatype.guice.plexus.binders.PlexusRequirements$RequirementProvider(javax.inject.Provider<org.sonatype.guice.plexus.config.PlexusBeanLocator>, com.google.inject.TypeLiteral<T>, java.lang.String[]);
    Code:
       0: aload_0
       1: aload_1
       2: aload_2
       3: aload_3
       4: invokespecial #1                  // Method org/sonatype/guice/plexus/binders/PlexusRequirements$AbstractRequirementProvider."<init>":(Ljavax/inject/Provider;Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)V
       7: return

  public T get();
    Code:
       0: aload_0
       1: invokevirtual #2                  // Method locate:()Ljava/lang/Iterable;
       4: invokeinterface #3,  1            // InterfaceMethod java/lang/Iterable.iterator:()Ljava/util/Iterator;
       9: astore_1
      10: aload_1
      11: invokeinterface #4,  1            // InterfaceMethod java/util/Iterator.hasNext:()Z
      16: ifeq          34
      19: aload_1
      20: invokeinterface #5,  1            // InterfaceMethod java/util/Iterator.next:()Ljava/lang/Object;
      25: checkcast     #6                  // class java/util/Map$Entry
      28: invokeinterface #7,  1            // InterfaceMethod java/util/Map$Entry.getValue:()Ljava/lang/Object;
      33: areturn
      34: aload_0
      35: getfield      #8                  // Field type:Lcom/google/inject/TypeLiteral;
      38: aconst_null
      39: invokestatic  #9                  // Method org/sonatype/guice/plexus/config/Roles.throwMissingComponentException:(Lcom/google/inject/TypeLiteral;Ljava/lang/String;)Ljava/lang/Object;
      42: areturn
}
