Compiled from "PlexusRequirements.java"
abstract class org.sonatype.guice.plexus.binders.PlexusRequirements$AbstractRequirementProvider<S, T> implements javax.inject.Provider<S> {
  private final javax.inject.Provider<org.sonatype.guice.plexus.config.PlexusBeanLocator> locatorProvider;

  final com.google.inject.TypeLiteral<T> type;

  private final java.lang.String[] hints;

  org.sonatype.guice.plexus.binders.PlexusRequirements$AbstractRequirementProvider(javax.inject.Provider<org.sonatype.guice.plexus.config.PlexusBeanLocator>, com.google.inject.TypeLiteral<T>, java.lang.String[]);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: aload_1
       6: putfield      #2                  // Field locatorProvider:Ljavax/inject/Provider;
       9: aload_0
      10: aload_2
      11: putfield      #3                  // Field type:Lcom/google/inject/TypeLiteral;
      14: aload_0
      15: aload_3
      16: putfield      #4                  // Field hints:[Ljava/lang/String;
      19: return

  final java.lang.Iterable<? extends java.util.Map$Entry<java.lang.String, T>> locate();
    Code:
       0: aload_0
       1: getfield      #2                  // Field locatorProvider:Ljavax/inject/Provider;
       4: invokeinterface #5,  1            // InterfaceMethod javax/inject/Provider.get:()Ljava/lang/Object;
       9: checkcast     #6                  // class org/sonatype/guice/plexus/config/PlexusBeanLocator
      12: aload_0
      13: getfield      #3                  // Field type:Lcom/google/inject/TypeLiteral;
      16: aload_0
      17: getfield      #4                  // Field hints:[Ljava/lang/String;
      20: invokeinterface #7,  3            // InterfaceMethod org/sonatype/guice/plexus/config/PlexusBeanLocator.locate:(Lcom/google/inject/TypeLiteral;[Ljava/lang/String;)Ljava/lang/Iterable;
      25: areturn
}
