Compiled from "ResourceRequirementsFluent.java"
public interface io.fabric8.kubernetes.api.model.ResourceRequirementsFluent<A extends io.fabric8.kubernetes.api.model.ResourceRequirementsFluent<A>> extends io.fabric8.kubernetes.api.builder.Fluent<A> {
  public abstract A addToLimits(java.lang.String, io.fabric8.kubernetes.api.model.Quantity);

  public abstract A addToLimits(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract A removeFromLimits(java.lang.String);

  public abstract A removeFromLimits(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity> getLimits();

  public abstract A withLimits(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract java.lang.Boolean hasLimits();

  public abstract A addToRequests(java.lang.String, io.fabric8.kubernetes.api.model.Quantity);

  public abstract A addToRequests(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract A removeFromRequests(java.lang.String);

  public abstract A removeFromRequests(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity> getRequests();

  public abstract A withRequests(java.util.Map<java.lang.String, io.fabric8.kubernetes.api.model.Quantity>);

  public abstract java.lang.Boolean hasRequests();
}
