Compiled from "AccessRequirementBuilder.java"
public interface org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder extends org.jboss.as.cli.accesscontrol.AccessRequirementBuilder {
  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(java.lang.String, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(java.lang.String, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder profileOperation(java.lang.String, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder profileOperation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder hostServerOperation(java.lang.String, java.lang.String);

  public abstract org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder requirement(org.jboss.as.cli.accesscontrol.AccessRequirement);
}
