Compiled from "AccessRequirementBuilder.java"
abstract class org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$Factory$BaseRequirementSetBuilder implements org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder {
  protected final org.jboss.as.cli.accesscontrol.AccessRequirementBuilder parent;

  protected final org.jboss.as.cli.accesscontrol.AccessRequirementSet set;

  protected final org.jboss.as.cli.CommandContext ctx;

  org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$Factory$BaseRequirementSetBuilder(org.jboss.as.cli.accesscontrol.AccessRequirementBuilder, org.jboss.as.cli.CommandContext);
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: aload_0
       5: aload_1
       6: putfield      #2                  // Field parent:Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;
       9: aload_0
      10: aload_0
      11: invokevirtual #3                  // Method createTarget:()Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      14: putfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      17: aload_0
      18: aload_2
      19: putfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
      22: aload_2
      23: aload_0
      24: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      27: invokeinterface #6,  2            // InterfaceMethod org/jboss/as/cli/CommandContext.addEventListener:(Lorg/jboss/as/cli/CliEventListener;)V
      32: return

  protected abstract org.jboss.as.cli.accesscontrol.AccessRequirementSet createTarget();

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder all();
    Code:
       0: new           #7                  // class org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AllRequiredBuilder
       3: dup
       4: aload_0
       5: aload_0
       6: getfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
       9: invokespecial #8                  // Method org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AllRequiredBuilder."<init>":(Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;Lorg/jboss/as/cli/CommandContext;)V
      12: astore_1
      13: aload_0
      14: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      17: aload_1
      18: getfield      #9                  // Field org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AllRequiredBuilder.set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      21: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
      24: aload_1
      25: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder any();
    Code:
       0: new           #11                 // class org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AnyRequiredBuilder
       3: dup
       4: aload_0
       5: aload_0
       6: getfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
       9: invokespecial #12                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AnyRequiredBuilder."<init>":(Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;Lorg/jboss/as/cli/CommandContext;)V
      12: astore_1
      13: aload_0
      14: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      17: aload_1
      18: getfield      #13                 // Field org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$AnyRequiredBuilder.set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      21: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
      24: aload_1
      25: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder domain();
    Code:
       0: new           #14                 // class org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$DomainModeRequirementBuilder
       3: dup
       4: aload_0
       5: aload_0
       6: getfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
       9: invokespecial #15                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$DomainModeRequirementBuilder."<init>":(Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;Lorg/jboss/as/cli/CommandContext;)V
      12: astore_1
      13: aload_0
      14: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      17: aload_1
      18: getfield      #16                 // Field org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$DomainModeRequirementBuilder.modeReq:Lorg/jboss/as/cli/accesscontrol/ControllerModeAccess;
      21: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
      24: aload_1
      25: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder standalone();
    Code:
       0: new           #17                 // class org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$StandaloneModeRequirementBuilder
       3: dup
       4: aload_0
       5: aload_0
       6: getfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
       9: invokespecial #18                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$StandaloneModeRequirementBuilder."<init>":(Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;Lorg/jboss/as/cli/CommandContext;)V
      12: astore_1
      13: aload_0
      14: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      17: aload_1
      18: getfield      #19                 // Field org/jboss/as/cli/accesscontrol/AccessRequirementBuilder$Factory$StandaloneModeRequirementBuilder.modeReq:Lorg/jboss/as/cli/accesscontrol/ControllerModeAccess;
      21: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
      24: aload_1
      25: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(java.lang.String);
    Code:
       0: aload_0
       1: new           #20                 // class org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement
       4: dup
       5: aload_1
       6: invokespecial #21                 // Method org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement."<init>":(Ljava/lang/String;)V
       9: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      12: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);
    Code:
       0: aload_0
       1: new           #20                 // class org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement
       4: dup
       5: aload_1
       6: aload_2
       7: invokespecial #23                 // Method org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement."<init>":(Lorg/jboss/as/cli/operation/OperationRequestAddress;Ljava/lang/String;)V
      10: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      13: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(java.lang.String);
    Code:
       0: aload_0
       1: new           #24                 // class org/jboss/as/cli/accesscontrol/PerNodeOperationAccess
       4: dup
       5: ldc           #26                 // String server-group
       7: aload_1
       8: invokespecial #27                 // Method org/jboss/as/cli/accesscontrol/PerNodeOperationAccess."<init>":(Ljava/lang/String;Ljava/lang/String;)V
      11: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      14: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);
    Code:
       0: aload_0
       1: new           #24                 // class org/jboss/as/cli/accesscontrol/PerNodeOperationAccess
       4: dup
       5: ldc           #26                 // String server-group
       7: aload_1
       8: aload_2
       9: invokespecial #28                 // Method org/jboss/as/cli/accesscontrol/PerNodeOperationAccess."<init>":(Ljava/lang/String;Lorg/jboss/as/cli/operation/OperationRequestAddress;Ljava/lang/String;)V
      12: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      15: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder profileOperation(org.jboss.as.cli.operation.OperationRequestAddress, java.lang.String);
    Code:
       0: aload_0
       1: new           #24                 // class org/jboss/as/cli/accesscontrol/PerNodeOperationAccess
       4: dup
       5: ldc           #29                 // String profile
       7: aload_1
       8: aload_2
       9: invokespecial #28                 // Method org/jboss/as/cli/accesscontrol/PerNodeOperationAccess."<init>":(Ljava/lang/String;Lorg/jboss/as/cli/operation/OperationRequestAddress;Ljava/lang/String;)V
      12: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      15: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder operation(java.lang.String, java.lang.String);
    Code:
       0: aload_0
       1: new           #20                 // class org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement
       4: dup
       5: aload_1
       6: aload_2
       7: invokespecial #30                 // Method org/jboss/as/cli/accesscontrol/MainOperationAccessRequirement."<init>":(Ljava/lang/String;Ljava/lang/String;)V
      10: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      13: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder serverGroupOperation(java.lang.String, java.lang.String);
    Code:
       0: aload_0
       1: new           #24                 // class org/jboss/as/cli/accesscontrol/PerNodeOperationAccess
       4: dup
       5: ldc           #26                 // String server-group
       7: aload_1
       8: aload_2
       9: invokespecial #31                 // Method org/jboss/as/cli/accesscontrol/PerNodeOperationAccess."<init>":(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V
      12: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      15: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder profileOperation(java.lang.String, java.lang.String);
    Code:
       0: aload_0
       1: new           #24                 // class org/jboss/as/cli/accesscontrol/PerNodeOperationAccess
       4: dup
       5: ldc           #29                 // String profile
       7: aload_1
       8: aload_2
       9: invokespecial #31                 // Method org/jboss/as/cli/accesscontrol/PerNodeOperationAccess."<init>":(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V
      12: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      15: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder hostServerOperation(java.lang.String, java.lang.String);
    Code:
       0: aload_0
       1: new           #32                 // class org/jboss/as/cli/accesscontrol/HostServerOperationAccess
       4: dup
       5: aload_1
       6: aload_2
       7: invokespecial #33                 // Method org/jboss/as/cli/accesscontrol/HostServerOperationAccess."<init>":(Ljava/lang/String;Ljava/lang/String;)V
      10: invokevirtual #22                 // Method add:(Lorg/jboss/as/cli/accesscontrol/BaseOperationAccessRequirement;)Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder$RequirementSetBuilder;
      13: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder requirement(org.jboss.as.cli.accesscontrol.AccessRequirement);
    Code:
       0: aload_1
       1: ifnonnull     14
       4: new           #34                 // class java/lang/IllegalArgumentException
       7: dup
       8: ldc           #35                 // String requirement is null
      10: invokespecial #36                 // Method java/lang/IllegalArgumentException."<init>":(Ljava/lang/String;)V
      13: athrow
      14: aload_0
      15: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
      18: aload_1
      19: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
      22: aload_0
      23: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirementBuilder parent();
    Code:
       0: aload_0
       1: getfield      #2                  // Field parent:Lorg/jboss/as/cli/accesscontrol/AccessRequirementBuilder;
       4: areturn

  protected org.jboss.as.cli.accesscontrol.AccessRequirementBuilder$RequirementSetBuilder add(org.jboss.as.cli.accesscontrol.BaseOperationAccessRequirement);
    Code:
       0: aload_0
       1: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
       4: aload_1
       5: invokevirtual #10                 // Method org/jboss/as/cli/accesscontrol/AccessRequirementSet.add:(Lorg/jboss/as/cli/accesscontrol/AccessRequirement;)V
       8: aload_0
       9: getfield      #5                  // Field ctx:Lorg/jboss/as/cli/CommandContext;
      12: aload_1
      13: invokeinterface #6,  2            // InterfaceMethod org/jboss/as/cli/CommandContext.addEventListener:(Lorg/jboss/as/cli/CliEventListener;)V
      18: aload_0
      19: areturn

  public org.jboss.as.cli.accesscontrol.AccessRequirement build();
    Code:
       0: aload_0
       1: getfield      #4                  // Field set:Lorg/jboss/as/cli/accesscontrol/AccessRequirementSet;
       4: areturn
}
