Compiled from "AccessRequirementSet.java"
public abstract class org.jboss.as.cli.accesscontrol.AccessRequirementSet extends org.jboss.as.cli.accesscontrol.BaseAccessRequirement {
  protected java.util.List<org.jboss.as.cli.accesscontrol.AccessRequirement> requirements;

  private java.lang.String toString;

  public org.jboss.as.cli.accesscontrol.AccessRequirementSet();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method org/jboss/as/cli/accesscontrol/BaseAccessRequirement."<init>":()V
       4: aload_0
       5: invokestatic  #2                  // Method java/util/Collections.emptyList:()Ljava/util/List;
       8: putfield      #3                  // Field requirements:Ljava/util/List;
      11: return

  public void add(org.jboss.as.cli.accesscontrol.AccessRequirement);
    Code:
       0: aload_1
       1: ifnonnull     14
       4: new           #4                  // class java/lang/IllegalArgumentException
       7: dup
       8: ldc           #5                  // String Requirement is null
      10: invokespecial #6                  // Method java/lang/IllegalArgumentException."<init>":(Ljava/lang/String;)V
      13: athrow
      14: aload_0
      15: getfield      #3                  // Field requirements:Ljava/util/List;
      18: invokeinterface #7,  1            // InterfaceMethod java/util/List.isEmpty:()Z
      23: ifeq          37
      26: aload_0
      27: aload_1
      28: invokestatic  #8                  // Method java/util/Collections.singletonList:(Ljava/lang/Object;)Ljava/util/List;
      31: putfield      #3                  // Field requirements:Ljava/util/List;
      34: goto          88
      37: aload_0
      38: getfield      #3                  // Field requirements:Ljava/util/List;
      41: invokeinterface #9,  1            // InterfaceMethod java/util/List.size:()I
      46: iconst_1
      47: if_icmpne     77
      50: aload_0
      51: getfield      #3                  // Field requirements:Ljava/util/List;
      54: astore_2
      55: aload_0
      56: new           #10                 // class java/util/ArrayList
      59: dup
      60: invokespecial #11                 // Method java/util/ArrayList."<init>":()V
      63: putfield      #3                  // Field requirements:Ljava/util/List;
      66: aload_0
      67: getfield      #3                  // Field requirements:Ljava/util/List;
      70: aload_2
      71: invokeinterface #12,  2           // InterfaceMethod java/util/List.addAll:(Ljava/util/Collection;)Z
      76: pop
      77: aload_0
      78: getfield      #3                  // Field requirements:Ljava/util/List;
      81: aload_1
      82: invokeinterface #13,  2           // InterfaceMethod java/util/List.add:(Ljava/lang/Object;)Z
      87: pop
      88: return

  public java.lang.String toString();
    Code:
       0: aload_0
       1: getfield      #14                 // Field toString:Ljava/lang/String;
       4: ifnonnull     18
       7: aload_0
       8: aload_0
       9: getfield      #3                  // Field requirements:Ljava/util/List;
      12: invokevirtual #15                 // Method java/lang/Object.toString:()Ljava/lang/String;
      15: putfield      #14                 // Field toString:Ljava/lang/String;
      18: aload_0
      19: getfield      #14                 // Field toString:Ljava/lang/String;
      22: areturn
}
