<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.embedded">
<properties>
    <!-- Core version of the embedded API is currently only meant
        for use by the CLI --><property name="jboss.api" value="private"/>
  </properties>
  <exports>
    <exclude path="org/jboss/as/embedded/logging"/>
  </exports>
  <resources>
    <artifact name="org.wildfly.core:wildfly-embedded:3.0.8.Final"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.security.elytron-private"/>
    <module name="org.wildfly.common"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.as.controller"/>
    <module name="org.jboss.as.controller-client"/>
    <module name="org.jboss.as.host-controller"/>
    <!--module name="org.jboss.as.naming"/-->
    <module name="org.jboss.jandex"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.staxmapper"/>
    <module name="org.jboss.stdio"/>
    <module name="org.jboss.vfs"/>
    <module name="org.jboss.as.protocol"/>
    <module name="org.jboss.as.version"/>
    <module name="org.jboss.threads"/>
    <module name="org.wildfly.extension.core-management-client"/>
  </dependencies>
</module>
