<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.as.web-common">
<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="org.wildfly:wildfly-web-common:10.0.0.Final"/>
  </resources>
  <dependencies>
    <module name="javax.security.auth.message.api"/>
    <module name="javax.servlet.api"/>
    <module name="javax.servlet.jsp.api"/>
    <module name="org.jboss.staxmapper"/>
    <module name="org.jboss.as.controller"/>
    <module name="org.jboss.as.ee"/>
    <module name="org.jboss.as.naming"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.metadata.common"/>
    <module name="org.jboss.metadata.web"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.msc"/>
  </dependencies>
</module>
