<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.remote-naming">
<resources>
    <artifact name="org.jboss:jboss-remote-naming:2.0.4.Final"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="org.jboss.ejb-client" optional="true"/>
    <module name="org.jboss.remoting"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.marshalling"/>
    <module name="org.jboss.marshalling.river"/>
  </dependencies>
</module>
