Compiled from "Constraints.java"
class org.sonar.api.internal.google.common.collect.Constraints$ConstrainedCollection<E> extends org.sonar.api.internal.google.common.collect.ForwardingCollection<E> {
  private final java.util.Collection<E> delegate;

  private final org.sonar.api.internal.google.common.collect.Constraint<? super E> constraint;

  public org.sonar.api.internal.google.common.collect.Constraints$ConstrainedCollection(java.util.Collection<E>, org.sonar.api.internal.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: invokespecial #20                 // Method org/sonar/api/internal/google/common/collect/ForwardingCollection."<init>":()V
       4: aload_0
       5: aload_1
       6: invokestatic  #26                 // Method org/sonar/api/internal/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
       9: checkcast     #28                 // class java/util/Collection
      12: putfield      #30                 // Field delegate:Ljava/util/Collection;
      15: aload_0
      16: aload_2
      17: invokestatic  #26                 // Method org/sonar/api/internal/google/common/base/Preconditions.checkNotNull:(Ljava/lang/Object;)Ljava/lang/Object;
      20: checkcast     #32                 // class org/sonar/api/internal/google/common/collect/Constraint
      23: putfield      #34                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
      26: return

  protected java.util.Collection<E> delegate();
    Code:
       0: aload_0
       1: getfield      #30                 // Field delegate:Ljava/util/Collection;
       4: areturn

  public boolean add(E);
    Code:
       0: aload_0
       1: getfield      #34                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #43,  2           // InterfaceMethod org/sonar/api/internal/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #30                 // Field delegate:Ljava/util/Collection;
      15: aload_1
      16: invokeinterface #45,  2           // InterfaceMethod java/util/Collection.add:(Ljava/lang/Object;)Z
      21: ireturn

  public boolean addAll(java.util.Collection<? extends E>);
    Code:
       0: aload_0
       1: getfield      #30                 // Field delegate:Ljava/util/Collection;
       4: aload_1
       5: aload_0
       6: getfield      #34                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
       9: invokestatic  #54                 // Method org/sonar/api/internal/google/common/collect/Constraints.access$000:(Ljava/util/Collection;Lorg/sonar/api/internal/google/common/collect/Constraint;)Ljava/util/Collection;
      12: invokeinterface #56,  2           // InterfaceMethod java/util/Collection.addAll:(Ljava/util/Collection;)Z
      17: ireturn

  protected java.lang.Object delegate();
    Code:
       0: aload_0
       1: invokevirtual #61                 // Method delegate:()Ljava/util/Collection;
       4: areturn
}
