Compiled from "Constraints.java"
class org.sonar.api.internal.google.common.collect.Constraints$ConstrainedListIterator<E> extends org.sonar.api.internal.google.common.collect.ForwardingListIterator<E> {
  private final java.util.ListIterator<E> delegate;

  private final org.sonar.api.internal.google.common.collect.Constraint<? super E> constraint;

  public org.sonar.api.internal.google.common.collect.Constraints$ConstrainedListIterator(java.util.ListIterator<E>, org.sonar.api.internal.google.common.collect.Constraint<? super E>);
    Code:
       0: aload_0
       1: invokespecial #20                 // Method org/sonar/api/internal/google/common/collect/ForwardingListIterator."<init>":()V
       4: aload_0
       5: aload_1
       6: putfield      #22                 // Field delegate:Ljava/util/ListIterator;
       9: aload_0
      10: aload_2
      11: putfield      #24                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
      14: return

  protected java.util.ListIterator<E> delegate();
    Code:
       0: aload_0
       1: getfield      #22                 // Field delegate:Ljava/util/ListIterator;
       4: areturn

  public void add(E);
    Code:
       0: aload_0
       1: getfield      #24                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #36,  2           // InterfaceMethod org/sonar/api/internal/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #22                 // Field delegate:Ljava/util/ListIterator;
      15: aload_1
      16: invokeinterface #40,  2           // InterfaceMethod java/util/ListIterator.add:(Ljava/lang/Object;)V
      21: return

  public void set(E);
    Code:
       0: aload_0
       1: getfield      #24                 // Field constraint:Lorg/sonar/api/internal/google/common/collect/Constraint;
       4: aload_1
       5: invokeinterface #36,  2           // InterfaceMethod org/sonar/api/internal/google/common/collect/Constraint.checkElement:(Ljava/lang/Object;)Ljava/lang/Object;
      10: pop
      11: aload_0
      12: getfield      #22                 // Field delegate:Ljava/util/ListIterator;
      15: aload_1
      16: invokeinterface #46,  2           // InterfaceMethod java/util/ListIterator.set:(Ljava/lang/Object;)V
      21: return

  protected java.util.Iterator delegate();
    Code:
       0: aload_0
       1: invokevirtual #49                 // Method delegate:()Ljava/util/ListIterator;
       4: areturn

  protected java.lang.Object delegate();
    Code:
       0: aload_0
       1: invokevirtual #49                 // Method delegate:()Ljava/util/ListIterator;
       4: areturn
}
