<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="javaee.api">
<resources>
    </resources>
  <dependencies>
    <module export="true" name="javax.activation.api"/>
    <module export="true" name="javax.annotation.api"/>
    <module export="true" name="javax.batch.api"/>
    <module export="true" name="javax.ejb.api"/>
    <module export="true" name="javax.enterprise.api"/>
    <module export="true" name="javax.enterprise.concurrent.api"/>
    <module export="true" name="javax.inject.api"/>
    <module export="true" name="javax.interceptor.api"/>
    <module export="true" name="javax.json.api"/>
    <module export="true" name="javax.jms.api"/>
    <module export="true" name="javax.jws.api"/>
    <module export="true" name="javax.mail.api"/>
    <module export="true" name="javax.management.j2ee.api"/>
    <module export="true" name="javax.persistence.api"/>
    <module export="true" name="javax.resource.api"/>
    <module export="true" name="javax.rmi.api"/>
    <module export="true" name="javax.security.auth.message.api"/>
    <module export="true" name="javax.security.jacc.api"/>
    <module export="true" name="javax.servlet.api"/>
    <module export="true" name="javax.servlet.jsp.api"/>
    <module export="true" name="javax.transaction.api"/>
    <module export="true" name="javax.validation.api"/>
    <module export="true" name="javax.ws.rs.api" services="export"/>
    <module export="true" name="javax.websocket.api"/>
    <module export="true" name="javax.xml.bind.api"/>
    <module export="true" name="javax.xml.soap.api"/>
    <module export="true" name="javax.xml.ws.api"/>
    <module export="true" name="org.glassfish.javax.el"/>
    <!-- TODO WFLY-5966 validate the need for these and remove if not needed.
             Prior to WFLY-5922 they were exported by javax.ejb.api. -->
    <module export="true" name="javax.xml.rpc.api"/>
    <module export="true" name="org.omg.api"/>
    <!-- This one always goes last. -->
    <module export="true" name="javax.api"/>
  </dependencies>
</module>
