<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.teiid.ftp" slot="main">
  <dependencies>
    <system export="true">
      <paths/>
    </system>
    <module export="true" name="org.wildfly.swarm.teiid.ftp" services="export" slot="api">
      <imports>
        <include path="**"/>
      </imports>
      <exports>
        <include path="**"/>
      </exports>
    </module>
  </dependencies>
</module>
