<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="javax.enterprise.api">
<dependencies>
    <module export="true" name="org.glassfish.javax.el"/>
    <module export="true" name="javax.inject.api"/>
    <module export="true" name="javax.interceptor.api"/>
    <!-- CDIProvider -->
    <module name="org.jboss.as.weld" optional="true" services="import"/>
    <module name="org.jboss.weld.core" optional="true"/>
  </dependencies>
  <resources>
    <artifact name="javax.enterprise:cdi-api:1.2"/>
  </resources>
</module>
