Compiled from "ResourceRequirements.java"
public interface io.dekorate.kubernetes.annotation.ResourceRequirements extends java.lang.annotation.Annotation {
  public abstract java.lang.String memory();

  public abstract java.lang.String cpu();
}
