Compiled from "KeyRequirements.java"
public class org.apache.cxf.sts.request.KeyRequirements {
  private java.lang.String authenticationType;

  private java.lang.String keyType;

  private long keySize;

  private java.lang.String signatureAlgorithm;

  private java.lang.String encryptionAlgorithm;

  private java.lang.String c14nAlgorithm;

  private java.lang.String computedKeyAlgorithm;

  private java.lang.String keywrapAlgorithm;

  private org.apache.cxf.sts.request.ReceivedKey receivedKey;

  private org.apache.cxf.sts.request.Entropy entropy;

  private java.lang.String encryptWith;

  private java.lang.String signWith;

  public org.apache.cxf.sts.request.KeyRequirements();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: return

  public java.lang.String getAuthenticationType();
    Code:
       0: aload_0
       1: getfield      #2                  // Field authenticationType:Ljava/lang/String;
       4: areturn

  public void setAuthenticationType(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #2                  // Field authenticationType:Ljava/lang/String;
       5: return

  public java.lang.String getKeyType();
    Code:
       0: aload_0
       1: getfield      #3                  // Field keyType:Ljava/lang/String;
       4: areturn

  public void setKeyType(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #3                  // Field keyType:Ljava/lang/String;
       5: return

  public long getKeySize();
    Code:
       0: aload_0
       1: getfield      #4                  // Field keySize:J
       4: lreturn

  public void setKeySize(long);
    Code:
       0: aload_0
       1: lload_1
       2: putfield      #4                  // Field keySize:J
       5: return

  public java.lang.String getSignatureAlgorithm();
    Code:
       0: aload_0
       1: getfield      #5                  // Field signatureAlgorithm:Ljava/lang/String;
       4: areturn

  public void setSignatureAlgorithm(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #5                  // Field signatureAlgorithm:Ljava/lang/String;
       5: return

  public java.lang.String getEncryptionAlgorithm();
    Code:
       0: aload_0
       1: getfield      #6                  // Field encryptionAlgorithm:Ljava/lang/String;
       4: areturn

  public void setEncryptionAlgorithm(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #6                  // Field encryptionAlgorithm:Ljava/lang/String;
       5: return

  public java.lang.String getC14nAlgorithm();
    Code:
       0: aload_0
       1: getfield      #7                  // Field c14nAlgorithm:Ljava/lang/String;
       4: areturn

  public void setC14nAlgorithm(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #7                  // Field c14nAlgorithm:Ljava/lang/String;
       5: return

  public java.lang.String getComputedKeyAlgorithm();
    Code:
       0: aload_0
       1: getfield      #8                  // Field computedKeyAlgorithm:Ljava/lang/String;
       4: areturn

  public void setComputedKeyAlgorithm(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #8                  // Field computedKeyAlgorithm:Ljava/lang/String;
       5: return

  public java.lang.String getKeywrapAlgorithm();
    Code:
       0: aload_0
       1: getfield      #9                  // Field keywrapAlgorithm:Ljava/lang/String;
       4: areturn

  public void setKeywrapAlgorithm(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #9                  // Field keywrapAlgorithm:Ljava/lang/String;
       5: return

  public org.apache.cxf.sts.request.ReceivedKey getReceivedKey();
    Code:
       0: aload_0
       1: getfield      #10                 // Field receivedKey:Lorg/apache/cxf/sts/request/ReceivedKey;
       4: areturn

  public void setReceivedKey(org.apache.cxf.sts.request.ReceivedKey);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #10                 // Field receivedKey:Lorg/apache/cxf/sts/request/ReceivedKey;
       5: return

  public org.apache.cxf.sts.request.Entropy getEntropy();
    Code:
       0: aload_0
       1: getfield      #11                 // Field entropy:Lorg/apache/cxf/sts/request/Entropy;
       4: areturn

  public void setEntropy(org.apache.cxf.sts.request.Entropy);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #11                 // Field entropy:Lorg/apache/cxf/sts/request/Entropy;
       5: return

  public java.lang.String getEncryptWith();
    Code:
       0: aload_0
       1: getfield      #12                 // Field encryptWith:Ljava/lang/String;
       4: areturn

  public void setEncryptWith(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #12                 // Field encryptWith:Ljava/lang/String;
       5: return

  public java.lang.String getSignWith();
    Code:
       0: aload_0
       1: getfield      #13                 // Field signWith:Ljava/lang/String;
       4: areturn

  public void setSignWith(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #13                 // Field signWith:Ljava/lang/String;
       5: return
}
