Compiled from "RequestRequirements.java"
public class org.apache.cxf.sts.request.RequestRequirements {
  private org.apache.cxf.sts.request.TokenRequirements tokenRequirements;

  private org.apache.cxf.sts.request.KeyRequirements keyRequirements;

  public org.apache.cxf.sts.request.RequestRequirements();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: return

  public org.apache.cxf.sts.request.TokenRequirements getTokenRequirements();
    Code:
       0: aload_0
       1: getfield      #2                  // Field tokenRequirements:Lorg/apache/cxf/sts/request/TokenRequirements;
       4: areturn

  public void setTokenRequirements(org.apache.cxf.sts.request.TokenRequirements);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #2                  // Field tokenRequirements:Lorg/apache/cxf/sts/request/TokenRequirements;
       5: return

  public org.apache.cxf.sts.request.KeyRequirements getKeyRequirements();
    Code:
       0: aload_0
       1: getfield      #3                  // Field keyRequirements:Lorg/apache/cxf/sts/request/KeyRequirements;
       4: areturn

  public void setKeyRequirements(org.apache.cxf.sts.request.KeyRequirements);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #3                  // Field keyRequirements:Lorg/apache/cxf/sts/request/KeyRequirements;
       5: return
}
