Compiled from "TokenRequirements.java"
public class org.apache.cxf.sts.request.TokenRequirements {
  private java.lang.String tokenType;

  private org.w3c.dom.Element appliesTo;

  private java.lang.String context;

  private org.apache.cxf.sts.request.ReceivedToken validateTarget;

  private org.apache.cxf.sts.request.ReceivedToken onBehalfOf;

  private org.apache.cxf.sts.request.ReceivedToken actAs;

  private org.apache.cxf.sts.request.ReceivedToken cancelTarget;

  private org.apache.cxf.sts.request.ReceivedToken renewTarget;

  private org.apache.cxf.sts.request.Lifetime lifetime;

  private org.apache.cxf.rt.security.claims.ClaimCollection primaryClaims;

  private org.apache.cxf.rt.security.claims.ClaimCollection secondaryClaims;

  private org.apache.cxf.sts.request.Renewing renewing;

  private org.apache.cxf.sts.request.Participants participants;

  public org.apache.cxf.sts.request.TokenRequirements();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: return

  public org.apache.cxf.sts.request.Renewing getRenewing();
    Code:
       0: aload_0
       1: getfield      #2                  // Field renewing:Lorg/apache/cxf/sts/request/Renewing;
       4: areturn

  public void setRenewing(org.apache.cxf.sts.request.Renewing);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #2                  // Field renewing:Lorg/apache/cxf/sts/request/Renewing;
       5: return

  public java.lang.String getTokenType();
    Code:
       0: aload_0
       1: getfield      #3                  // Field tokenType:Ljava/lang/String;
       4: areturn

  public void setTokenType(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #3                  // Field tokenType:Ljava/lang/String;
       5: return

  public org.apache.cxf.sts.request.ReceivedToken getCancelTarget();
    Code:
       0: aload_0
       1: getfield      #4                  // Field cancelTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       4: areturn

  public void setCancelTarget(org.apache.cxf.sts.request.ReceivedToken);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #4                  // Field cancelTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       5: return

  public org.apache.cxf.sts.request.ReceivedToken getRenewTarget();
    Code:
       0: aload_0
       1: getfield      #5                  // Field renewTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       4: areturn

  public void setRenewTarget(org.apache.cxf.sts.request.ReceivedToken);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #5                  // Field renewTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       5: return

  public org.w3c.dom.Element getAppliesTo();
    Code:
       0: aload_0
       1: getfield      #6                  // Field appliesTo:Lorg/w3c/dom/Element;
       4: areturn

  public void setAppliesTo(org.w3c.dom.Element);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #6                  // Field appliesTo:Lorg/w3c/dom/Element;
       5: return

  public java.lang.String getContext();
    Code:
       0: aload_0
       1: getfield      #7                  // Field context:Ljava/lang/String;
       4: areturn

  public void setContext(java.lang.String);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #7                  // Field context:Ljava/lang/String;
       5: return

  public org.apache.cxf.sts.request.ReceivedToken getValidateTarget();
    Code:
       0: aload_0
       1: getfield      #8                  // Field validateTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       4: areturn

  public void setValidateTarget(org.apache.cxf.sts.request.ReceivedToken);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #8                  // Field validateTarget:Lorg/apache/cxf/sts/request/ReceivedToken;
       5: return

  public org.apache.cxf.sts.request.ReceivedToken getOnBehalfOf();
    Code:
       0: aload_0
       1: getfield      #9                  // Field onBehalfOf:Lorg/apache/cxf/sts/request/ReceivedToken;
       4: areturn

  public void setOnBehalfOf(org.apache.cxf.sts.request.ReceivedToken);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #9                  // Field onBehalfOf:Lorg/apache/cxf/sts/request/ReceivedToken;
       5: return

  public org.apache.cxf.sts.request.ReceivedToken getActAs();
    Code:
       0: aload_0
       1: getfield      #10                 // Field actAs:Lorg/apache/cxf/sts/request/ReceivedToken;
       4: areturn

  public void setActAs(org.apache.cxf.sts.request.ReceivedToken);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #10                 // Field actAs:Lorg/apache/cxf/sts/request/ReceivedToken;
       5: return

  public org.apache.cxf.sts.request.Lifetime getLifetime();
    Code:
       0: aload_0
       1: getfield      #11                 // Field lifetime:Lorg/apache/cxf/sts/request/Lifetime;
       4: areturn

  public void setLifetime(org.apache.cxf.sts.request.Lifetime);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #11                 // Field lifetime:Lorg/apache/cxf/sts/request/Lifetime;
       5: return

  public org.apache.cxf.rt.security.claims.ClaimCollection getPrimaryClaims();
    Code:
       0: aload_0
       1: getfield      #12                 // Field primaryClaims:Lorg/apache/cxf/rt/security/claims/ClaimCollection;
       4: areturn

  public void setPrimaryClaims(org.apache.cxf.rt.security.claims.ClaimCollection);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #12                 // Field primaryClaims:Lorg/apache/cxf/rt/security/claims/ClaimCollection;
       5: return

  public org.apache.cxf.rt.security.claims.ClaimCollection getSecondaryClaims();
    Code:
       0: aload_0
       1: getfield      #13                 // Field secondaryClaims:Lorg/apache/cxf/rt/security/claims/ClaimCollection;
       4: areturn

  public void setSecondaryClaims(org.apache.cxf.rt.security.claims.ClaimCollection);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #13                 // Field secondaryClaims:Lorg/apache/cxf/rt/security/claims/ClaimCollection;
       5: return

  public org.apache.cxf.sts.request.Participants getParticipants();
    Code:
       0: aload_0
       1: getfield      #14                 // Field participants:Lorg/apache/cxf/sts/request/Participants;
       4: areturn

  public void setParticipants(org.apache.cxf.sts.request.Participants);
    Code:
       0: aload_0
       1: aload_1
       2: putfield      #14                 // Field participants:Lorg/apache/cxf/sts/request/Participants;
       5: return
}
