<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.camel.jpa" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:camel-jpa:2018.4.1">
      <filter>
        <include-set>
          <path name="META-INF"/>
        </include-set>
        <exclude-set/>
      </filter>
    </artifact>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="javax.enterprise.api"/>
    <module name="org.jboss.weld.se"/>
    <module name="org.apache.camel.component.jpa" slot="main"/>
    <module name="org.wildfly.swarm.camel.core" slot="main"/>
  </dependencies>
</module>
